body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.kotak {
  width: 200px;
  height: 200px;
  background-color: #61dafb;
  display: block;
  margin: auto;
}

.card {
  width: 200px;
  height: 300px;
  background-color: salmon;
  border-radius: 10px;
}

.seret {
  width: 200px;
  height: 200px;
  background-color: tomato;
  display: block;
  margin: auto;
}